@model YourPay

@if (Model.ErrorCost || Model.ErrorFrequency)
{
    <div class="govuk-error-summary" data-testid="Error-Summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            @if (Model.ErrorCost)
            {
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#Cost" data-testid="Error-Summary__Cost">Enter the amount you are paid</a>
                        </li>
                    </ul>
                </div>
            }
            @if (Model.ErrorFrequency)
            {
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#F__@Model.Options[0]" data-testid="Error-Summary__Frequency">Select how often you are paid this amount</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
}