@page
@model IndexModel
@{
    ViewData["Title"] = "Start Page";
}

<h1 class="govuk-heading-xl">Estimate your Income Tax for the current year</h1>

<p class="govuk-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo nisi, ornare sit amet
    vulputate at, cursus non tortor. Pellentesque feugiat a tellus vitae interdum. Quisque vehicula nisi id orci maximus
    tristique. Sed gravida erat sit amet pulvinar commodo. Nam non finibus enim. Integer viverra in dolor non porta.
    Vestibulum consectetur venenatis ex, at pulvinar quam ullamcorper eget.
</p>

<p class="govuk-body">
    Donec at rutrum arcu. Suspendisse pharetra
    libero id interdum feugiat. Ut semper commodo facilisis. Praesent volutpat velit metus, vitae dapibus eros varius
    ut. Maecenas feugiat lacus sodales nisl feugiat, non tristique sapien porta. Ut enim urna, interdum at justo et,
    feugiat cursus nibh. In auctor accumsan ex et tincidunt.
</p>

<p class="govuk-body">
    Sed maximus mauris ut massa aliquam, facilisis pulvinar purus sodales. Aenean id ipsum justo. Nunc tincidunt euismod
    ex at consequat. Donec sit amet libero vitae elit efficitur elementum quis vitae dolor. Pellentesque in tellus
    imperdiet, faucibus massa eu, viverra magna. Fusce dignissim lacus nec leo pharetra pretium. Nulla tempus ornare
    risus ut posuere. Nulla dapibus tristique efficitur.
</p>

<p class="govuk-body">
    Integer condimentum sapien risus. Nulla porta, risus eu
    accumsan varius, dui ex rutrum tellus, nec varius erat purus eu nunc. Ut maximus ut nunc nec pulvinar. In ut erat
    sodales, tincidunt dolor eget, dapibus ipsum. Morbi id eros bibendum, interdum dolor et, posuere mauris. Morbi in
    viverra lorem. Maecenas sit amet orci a tellus dignissim fermentum.
</p>

<a href="/your-pay" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
         viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
    </svg>
</a>