@page "/pension-contribution-fixed"
@model IncomeTax.Presentation.Web.Pages.PensionContributionFixed
@{
    ViewData["Title"] = "Pension Contribution Fixed";
}

<form method="post">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">How much are your monthly pension contributions?
        (Optional)</h1>
    <p class="govuk-body">Do not include any contributions from your employer.</p>
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="pension-contribution-fixed__input">
                Amount in pounds
            </label>
        </h1>
        <div id="pension-contribution-fixed__input_hint" class="govuk-hint">
            For example, £100 or £200.50
        </div>
        <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="pension-contribution-fixed__input" asp-for="PensionContribution" type="text"
                   spellcheck="false" aria-describedby="pension-contribution-fixed__input_hint">
            <div class="govuk-input__suffix" aria-hidden="true">£</div>
        </div>
    </div>
    <p class="govuk-body">
        <a asp-page="./PensionContributionPercentage" asp-page-handler="Swap" class="govuk-link">You can tell us this as a percentage of your income if you prefer.</a>
    </p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>