@page "/pension-contribution-percentage"
@model IncomeTax.Presentation.Web.Pages.PensionContributionPercentage
@{
    ViewData["Title"] = "Pension Contribution Percentage";
}

<form method="post">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">How much are your monthly pension contributions?
        (Optional)</h1>
    <p class="govuk-body" data-testid="pension-contribution__instruction">Enter this as a percentage of your income. Do not include any contributions from your
        employer.</p>
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="pension-contribution__input">
                Percentage amount
            </label>
        </h1>
        <div id="pension-contribution__input_hint" data-testid="pension-contribution__hint" class="govuk-hint">
            For example, 5% or 6.23%
        </div>
        <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="pension-contribution__input" data-testid="pension-contribution__input" asp-for="PensionContribution" type="text"
                   spellcheck="false" aria-describedby="pension-contribution__input_hint">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
        </div>
    </div>
    <p class="govuk-body">
        <a asp-page="./PensionContributionFixed" asp-page-handler="Swap" class="govuk-link" data-testid="pension-contribution__swap">You can tell us the amount in pounds if you prefer.</a>
    </p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
</form>