@page "/state-pension"
@model IncomeTax.Presentation.Web.Pages.StatePension

@{
    ViewData["Title"] = "State Pension";
}

<form method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Are you over the State Pension age?
                </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="pensioner-1" data-testid="pensioner-1" type="radio" value="true"
                           asp-for="Pensioner">
                    <label class="govuk-label govuk-radios__label" for="pensioner-1">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="pensioner-2" data-testid="pensioner-2" type="radio" value="false"
                           asp-for="Pensioner">
                    <label class="govuk-label govuk-radios__label" for="pensioner-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    
    <button type="submit" class="govuk-button" data-module="govuk-button" data-testid="button">
        Save and continue
    </button>
</form>